.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; 
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    padding: 8px 16px;
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: black; 
        color: white; 
    }
}

